.header-container {
  color: #000;
  display: flex;
  padding: 8px;
  align-items: center;
  background-color: #f3dbc5;
  justify-content: space-between;
}

.header-list-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.header-content {
  list-style: none;
  display: flex;
  margin-right: 25px;
}
.header-content li {
  padding: 18px;
  margin: 0 8px;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.header-content li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: burlywood;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header-content li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.logo-container {
  margin: 5px;
}
.profile {
  padding: 8px;
  margin-right: 30px;
  border-radius: 25px;
  border: 5px solid #e7aa74;
}
.profile:hover {
  background-color: #f5bf8f;
}
